.cards-default{
    border: var(--main-border-size) solid black !important;
    color: var(--main-color-1-dark);
    text-align: center;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
}