.home-header{
    background-repeat: no-repeat;
    background-size: cover;
  }
.home-header a{
  font-size: 16px;
}
  @media (max-width:600px) {
    .home-header h2{
      font-size: 2rem !important;
    }
  }
  @media (min-width:600px) {
    .home-header h2{
      font-size: 2.25rem !important;
    }
  }
  @media (min-width: 768px) {
    .home-header h2{
      font-size: 2.5rem !important;
    }
  }
  @media (min-width:992px) {
    .home-header h2{
      font-size: 2.75rem !important;
    }
  }
  @media (min-width: 1200px) {
    .home-header h2{
      font-size: 3.2rem !important;
    }
  }
  @media (min-width: 1201px) {
    .home-header h2{
      font-size: 3.2rem !important;
    }
  }